@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Gallient";
	src: url("assets/fonts/GallientRegular-eZoMp.ttf");
  }

@font-face {
	font-family: "Buda";
	src: url("assets/fonts/Buda-Light.ttf");
  }